td
{
    vertical-align: middle!important;
}
.video_url_container
{
    display: none;
}
.w-100
{
    width: 100px;
}
.w-50
{
    width: 50px;
}
.w-200
{
    width: 200px;
}
.w-300
{
    width: 300px;
}
.button_enable
{
    display: none;
    border: 1px solid;
    border-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

}